LogType=file
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=50
AllowKey=system.run[*]
LogRemoteCommands=1
Server={{ zbx_agent_server }}
ServerActive={{ zbx_agent_server_active }}
HostnameItem=system.hostname
HostMetadata={{ zbx_agent_hostmetadata }}
{% if zbx_agent_hostinterface is defined and zbx_agent_hostinterface|length %}
HostInterface={{ zbx_agent_hostinterface }}
{% endif %}
TLSConnect=psk
TLSAccept=psk
TLSPSKIdentity={{ zbx_agent_pskid }}
TLSPSKFile={{ zbx_dir }}/zabbix_agent.psk